# Folder view configuration files
.DS_Store
Desktop.ini
.vscode

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
*.dSYM
*.o
*.d
.directory


# Build and Debug directories
Release/ISSH
Release/output/
build/
debug/
output/
# Other Folders
Sequences/

input/
input/*
cplex_env/
/cplex_env